.nutrition {
	float: right;
	border-width: 2px;
	border-style: solid;
	border-color: gray;
	padding: 10px;
	width: 175px;
}
.nutrition .header {
	font-weight: bold;
	margin: 0 0 3px 0;
}
.nutrition .servings {
	font-size: smaller;
}
.nutrition .amountPerServing {
	font-size: smaller;
}
.nutrition .subHeader {
	text-align: right;
	margin: 0px 0px 5px 0px;
}
.nutrition .nutrients{
	font-size: smaller;
}
.nutrition .nutrients dt {
	float: left;
	padding: 3px 0 0 0;
}
.nutrition .nutrients dd {
	text-align: right;
	padding: 3px 0 3px 0;
	border-bottom: 1px solid #EEE;
}
.nutrition .separator {
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: gray;
	margin: 0 0 5px 0;
	padding: 0 0 5px 0;
}
.nutrition .indent {
	margin: 0 0 0 10px;
}
.recipe {
	padding-right: 10px;
}
