@{
    ViewBag.Title = "Sweet Geek - Thoughts on Health and Nutrition";
}
@section head {
    <style>
        #Breadcrumb, #page-title
        {
            display: none;
        }
        #site-contents
        {
            padding: 20px;
        }
        .site-content
        {
            border: thin #b76401 solid;
            float: left;
            margin: 0px 20px 20px 20px;
            padding: 0px 10px 10px 10px;
            width: 40%;
            min-width: 200px;
            min-height: 200px;;
            border-radius: 10px 10px 10px 10px;
        }
        .site-content img
        {
            float: right;
            margin: 10px 5px 0px 5px;
        }
        .site-content li{
            list-style-type: circle;
        }
        .site-content:nth-child(odd)
        {
            clear: left;
        }
    </style>
}
<div id="site-contents">
    <div class="site-content">
        <img src="~/Content/logo.png" alt="SweetGeek Avatar" height="49" width="45" />
        <h3>
            <a href="~/About">About</a></h3>
        <p>
            I'm not a doctor, just a geek who is very interested in health and nutrition.</p>
        <ul>
            <li><a href="~/About">The Woman Behind the Fuzzy Avatar</a></li>
            <li><a href="http://blog.sweetgeek.net/2011/10/responsethe-patients-voice-project/">
                Patients Voice Project: My Story</a></li>
            <li><a href="~/LowCarbSuccessStory">My Low-Carb Success Story</a></li>
            <li><a href="http://blog.sweetgeek.net/category/personal-updates/">Personal Updates</a></li>
        </ul>
    </div>
    <div class="site-content">
        <img src="~/Images/news.png" alt="Newspaper" height="48" width="48" />
        <h3>
            <a href="http://blog.sweetgeek.net/">Recent Blog Posts</a></h3>
        <p>
            My successes, setbacks and random info found while "<a href="http://blog.sweetgeek.net/category/internets/">reading
                the internets</a>".</p>
        <ul>
            <li><a href="http://blog.sweetgeek.net/2012/07/ketogenic-ratio-and-weight-loss/">Ketogenic
                Ratio and Weight Loss</a></li>
            <li><a href="http://blog.sweetgeek.net/2012/07/ketogenic-diet-success/">Ketogenic Diet
                Success</a></li>
            <li><a href="http://blog.sweetgeek.net/2012/06/exercise-and-blood-sugar-or-why-i-feel-like-crap-right-now/">
                Exercise and Blood Sugar: Or Why I Feel Like Crap Right Now</a></li>
            <li><a href="http://blog.sweetgeek.net/2012/02/high-cholesterol-on-a-low-carb-paleo-diet/">
                High Cholesterol on a Low-Carb Paleo Diet</a></li>
            <li><a href="http://blog.sweetgeek.net/">More...</a></li>
        </ul>
    </div>
    <div class="site-content">
        <img src="~/Images/holmes.png" alt="Sherlock Holmes" height="48" width="48" />
        <h3>
            <a href="~/Science">Science!</a></h3>
        <p>
            My interpretation and understanding of the science behind health and nutrition.</p>
        <ul>
            <li><a href="~/Science/Bio101-HDL-LDL">Bio 101: HDL and LDL</a></li>
            <li><a href="~/Science/cholesterol">Cholesterol and Heart Disease</a></li>
            <li><a href="~/Food/Protein">How Much Protein Should You Eat?</a></li>
            <li><a href="~/Science">More...</a></li>
        </ul>
    </div>
    <div class="site-content">
        <img src="~/Images/injection.png" alt="Syringe and Needle" height="48" width="48" />
        <h3>
            <a href="~/Diabetes">Diabetes</a></h3>
        <p>
            I was diagnosed in 2010 and am now happily managing with diet alone.</p>
        <ul>
            <li><a href="~/Diabetes">Dealing with Diabetes</a></li>
            <li><a href="~/Food">My "Diabetic" Diet</a></li>
            <li><a href="~/Diabetes/resources">Diabetic Resources</a></li>
            <li><a href="~/Diabetes">More...</a></li>
        </ul>
    </div>
</div>
